.wrap{
    width: 100%;
    max-width: 1100px;
    margin: auto;
}
.nav_pannel{
    max-width: 300px;
    background-color: grey;
    margin: 0;
    padding: 25px;
    position: fixed;

}
.container{
    width: 848px;
    float: right;
    padding: 0;
    background-color: red;
}

.off {
  display: none;
}

.on {
  display: block;
}

