.wrap{
    width: 100%;
}
.nav_pannel{
    max-width: 300px;
    width: 100%;
    background-color: grey;
    margin: 0;
    padding: 25px;
    position: fixed;

}
.container{
    max-width: 800px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
    background-color: red;
}